<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema Oficina</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema da Oficina 🚗</h1>
    </header>
    <nav>
        <a href="/landing">Início</a>
        <a href="/cadastroUsuario">Clientes</a>
        <a href="/cadastroVeiculo">Veículos</a>
        <a href="/cadastroServico">Serviços</a>
        <a href="/ordensDeServico">Ordens de Serviço</a>
    </nav>
</body>
</html>
